<html lang="en" class="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Soraya Online School | <%= currentUrl.split('/')[2] ? (currentUrl.split('/')[2].charAt(0).toUpperCase()+
            currentUrl.split('/')[2].slice(1)) : '' %>
    </title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta name="description"
        content="Soraya Online School provides education to Afghan girls from class 1 to class 12. Our mission is to empower Afghan girls with education in the face of Taliban oppression.">
    <meta name="keywords"
        content="Soraya Online School, education for Afghan girls, Taliban oppression, online learning, class 1 to class 12">
    <meta name="author" content="Soraya Online School">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Soraya Online School | Education for Afghan Girls">
    <meta property="og:description"
        content="Soraya Online School provides education to Afghan girls from class 1 to class 12. Our mission is to empower Afghan girls with education in the face of Taliban oppression.">
    <meta property="og:url" content="https://sorayaonlineschool.com/">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sorayaonlineschool">
    <meta name="twitter:title" content="Soraya Online School | Education for Afghan Girls">
    <meta name="twitter:description"
        content="Soraya Online School provides education to Afghan girls from class 1 to class 12. Our mission is to empower Afghan girls with education in the face of Taliban oppression.">


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/logos/logo-2.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/plugins/sal.css">
    <link rel="stylesheet" href="/assets/css/plugins/feather.css">
    <link rel="stylesheet" href="/assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="/assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="/assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="/assets/css/plugins/animation.css">
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <style>
        .background-choice-gradient {
            background: linear-gradient(to right, #97b2c9, #0059a2) !important;
        }

        .background-choice {
            background-color: #0059a2 !important;
        }

        .background-choice-gradient-vertical {
            background: linear-gradient(to bottom, #97b2c9, #0059a2) !important;
        }
    </style>
    <style>
        .rbt-show-more-btn.active::after {
            content: url(/svg/expand-arrow.svg);
            fill: #000;
            background-image: url(/svg/expand-arrow.svg);
            background-color: #000;
            transform: rotate(180deg);
        }

        .rbt-accordion-style .card .card-header button::before {
            content: url(/svg/expand-arrow.svg);

        }

        .rbt-show-more-btn::after,
        .rbt-accordion-style .card .card-header button.collapsed::before {
            content: url(/svg/expand-arrow.svg);
            fill: #000;
            background-image: url(/svg/expand-arrow.svg);
            background-color: #000;
        }

        .popup-mobile-menu .mega-top-banner {
            background-image: url(/img/girls/girl-15.jpg);
            background-color: #97b2c9;
        }
    </style>

    <!-- hide google translate bar -->
    <style>
        .goog-te-banner-frame.skiptranslate,
        .goog-te-gadget-simple img {
            display: none !important;
        }

        .goog-tooltip {
            display: none !important;
        }

        .goog-tooltip:hover {
            display: none !important;
        }

        .goog-text-highlight {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }

        #goog-gt-tt {
            display: none !important;
        }

        .goog-gt-tt+div {
            display: none !important;
        }

        /* body {
    top: 0 !important;
} */
    </style>
</head>