<% layout('layouts/boilerplate') %>

    <!-- End Side Vav -->
    <a class="close_side_menu" href="javascript:void(0);"></a>

    <!-- Start Banner Area  -->
    <div class="slider-area rbt-banner-10 height-750 bg_image bg_image--11" data-black-overlay="5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <div class="section-title mb--20">
                            <span class="subtitle bg-coral-opacity">What we are doing</span>
                        </div>
                        <h1 class="title display-one text-white"> Welcome to
                            Soraya Online School. <br> Empowering Afghan Women Through Education.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area  -->

    <!-- Start About Area  -->
    <div class="rbt-about-area about-style-1 bg-color-white rbt-section-gapTop">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail-wrapper">
                        <div class="thumbnail image-1">
                            <img data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: -20}" src="/img/girls/girls-raise.jpg"
                                alt="Afghan girls"
                                style="transform:translate3d(0px, -20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, -20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                        </div>
                        <div class="thumbnail image-2 d-none d-xl-block">
                            <img data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: 60}" src="/img/girls/window.jpg"
                                alt="Education Images"
                                style="transform:translate3d(0px, 60px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 60px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                        </div>
                        <div class="thumbnail image-3 d-none d-md-block">
                            <img data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: 80}" src="/img/girls/girl-6.jpg"
                                alt="Education Images"
                                style="transform:translate3d(0px, 80px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 80px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="inner pl--50 pl_sm--0 pl_md--0">
                        <div class="section-title text-start">
                            <span class="subtitle bg-coral-opacity">Know About Us</span>
                            <h2 class="title">Know About Histudy <br> Learning Platform</h2>
                        </div>
                        <p class="description mt--30">Far far away, behind the word mountains, far from the countries
                            Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
                            right
                            at the coast of the Semantics, a large language ocean.</p>
                        <!-- Start Feature List  -->
                        <div class="rbt-feature-wrapper mt--40">

                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-pink-opacity">
                                    <img src="/svg/class.svg" alt="online classes">
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Flexible Classes</h6>
                                    <p class="feature-description">It is a long established fact that a reader will
                                        be distracted by this on readable content of when looking at its layout.</p>
                                </div>
                            </div>

                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-primary-opacity">
                                    <img src="/svg/global.svg" alt="globally accessible classes">
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Learn From Anywhere</h6>
                                    <p class="feature-description">Our online platform allows you to learn from
                                        anywhere, whether you're at home, in a café, or on the go. With our flexible and
                                        convenient approach to education, you can study at your own pace and from any
                                        location that suits you.</p>
                                </div>
                            </div>

                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-coral-opacity">
                                    <img src="/svg/sprout.svg" alt="globally accessible classes">
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Hope</h6>
                                    <p class="feature-description">
                                        Hope is a powerful force that keeps us moving forward even in the face of
                                        adversity. It inspires us to believe in a better future, and to keep striving
                                        towards our goals despite the challenges we may face along the way. With hope,
                                        we can overcome obstacles, find strength in difficult times, and create a
                                        brighter tomorrow.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->

    <!-- Start Button Area  -->
    <div class="rbt-video-area rbt-section-gapBottom pt--50 bg-color-white">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="inner pr--50">
                        <div class="section-title text-start">
                            <span class="subtitle bg-primary-opacity">How We Work</span>
                            <h2 class="title">Empowering Teachers and Students: <small> Our Collaborative Approach to
                                    Online
                                    Learning</small></h2>
                            <p class="description mt--30">At Soraya Online School, we believe that education should be
                                accessible to all, and we welcome both volunteer and professional teachers to join our
                                platform. Once a teacher registers on our website and provides their information, our
                                administrator will review their credentials and assign classes based on their
                                qualifications and availability.</p>
                            <p>
                                Our goal is to provide our students with the best possible education, and we achieve
                                this by working closely with our teachers to ensure they are equipped with the resources
                                and support they need to succeed. We encourage our teachers to bring their unique
                                perspectives and teaching styles to the classroom, and we value their contributions to
                                our community.</p>
                            <p>
                                Whether you're a volunteer or a professional teacher, we invite you to join our platform
                                and help us empower Afghan women through education. Together, we can create a brighter
                                future for all.</p>
                        </div>
                        <div class="about-btn mt--40">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" href="/register">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text"> &nbsp; Register As Teacher&nbsp;</span>
                                    <span class="btn-icon"><img src="/svg/greater-sign.svg" alt=""></span>
                                    <span class="btn-icon"><img src="/svg/greater-sign.svg" alt=""></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="video-popup-wrapper">
                        <img class="w-100 rbt-radius" src="/img/girls/girl-17.jpg" alt="volenteer teachers">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Button Area  -->


    <div class="rbt-team-area bg-color-white rbt-section-gapBottom">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 mb--60">
                    <div class="section-title text-center">
                        <span class="subtitle bg-pink-opacity">Our Land</span>
                        <h2 class="title">Whose Inspirations You Love</h2>
                        <p class="description mt--20">
                            Amidst the beautiful mountains and breathtaking landscapes of Afghanistan, there lives a
                            <em><b>resilient and inspiring community of women who are determined to break down barriers
                                    and
                                    pursue their dreams.</b></em> Despite facing numerous challenges and obstacles,
                            these women
                            continue
                            to strive for a better tomorrow, drawing strength from their rich cultural heritage and
                            unwavering spirit. At Soraya Online School, we are honored to be a part of this community
                            and to help empower Afghan women through education.
                        </p>
                    </div>
                </div>
            </div>


            <div class="row g-5 d-none">

                <!-- Start Single Team  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-07.jpg" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title">Alejandro</h2>
                                <h6 class="subtitle theme-gradient">Math Teacher</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-08.jpg" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title">John Due</h2>
                                <h6 class="subtitle theme-gradient">Depertment Head</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-09.jpg" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title">Joo Bieden</h2>
                                <h6 class="subtitle theme-gradient">Math Teacher</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-06.jpg" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title">Jogn Due</h2>
                                <h6 class="subtitle theme-gradient">English Teacher</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-05.jpg" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title">John Due</h2>
                                <h6 class="subtitle theme-gradient">Depertment Head</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-04.jpg" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title">Joo Bieden</h2>
                                <h6 class="subtitle theme-gradient">Math Teacher</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->
            </div>
        </div>
    </div>


    <%- include('./partials/footer') %>



        </body>

        </html>