<!-- Mirrored from www.radiustheme.com/demo/html/psdboss/akkhor/akkhor/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Mar 2023 18:55:04 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        SorayaOnlineSchool | <%= currentUrl.split('/')[1] %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/logos/logo-2.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="/css/fullcalendar.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css">
    <!-- Modernize js -->
    <script src="/js/modernizr-3.6.0.min.js"></script>

    <style>
        .background-choice-gradient {
            background: linear-gradient(to right, #97b2c9, #0059a2) !important;
        }

        .background-choice {
            background-color: #0059a2 !important;
        }

        .breadcrumbs-area ul li:before {
            content: url(/svg/greater-sign.svg);
        }

        .sidebar-menu-one .sidebar-menu-content .nav-sidebar-menu .sidebar-nav-item>.nav-link:after {
            content: url(/svg/expand-arrow.svg);
        }

        .sidebar-main * {
            color: white !important;
            box-shadow: unset !important;
        }

        .header-main-menu .navbar-nav .header-admin .navbar-nav-link:after {
            content: none !important;
        }

        .header-main-menu .navbar-nav .header-search-bar .stylish-input-group .input-group-addon button span:before {
            content: url(/svg/search.svg);
        }
    </style>

    <!-- hide google translate bar -->
    <style>
        .goog-te-banner-frame.skiptranslate,
        .goog-te-gadget-simple img {
            display: none !important;
        }

        .goog-tooltip {
            display: none !important;
        }

        .goog-tooltip:hover {
            display: none !important;
        }

        .goog-text-highlight {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }

        #goog-gt-tt {
            display: none !important;
        }

        .goog-gt-tt+div {
            display: none !important;
        }

        iframe * {
            width: 0 !important;
            height: 0 !important;
            border: none !important;
            display: none !important;
        }
    </style>
</head>