<!-- Sidebar Area Start Here -->
<% if (currentUser.role=='admin' ){ %>
    <div class="sidebar-main sidebar-menu-one sidebar-expand-md background-choice">
        <div class="mobile-sidebar-header d-md-none">
            <div class="header-logo">
                <a href="/"><img src="/logos/logo-2.png" alt="Soraya Online School"></a>
            </div>
        </div>
        <div class="sidebar-menu-content">
            <ul class="nav nav-sidebar-menu sidebar-toggle-view">


                <li class="nav-item sidebar-nav-item border-0">
                    <a href="/#" class="nav-link">
                        <svg width="30" fill="#fff" version="1.1" id="Capa_1" xmlns=""
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31.331 31.331" xml:space="preserve"
                            stroke="#fff">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <g>
                                        <circle cx="4.968" cy="13.262" r="4.02"></circle>
                                        <path
                                            d="M10.831,9.036l-1.247,2.178c0,0,3.997-0.617,6.76-1.435c2.764-0.819,5.465-2.343,5.465-4.59 c0.002-2.598-3.121-4.704-6.974-4.704c-3.852,0-6.974,2.106-6.974,4.704C7.861,6.78,9.037,8.185,10.831,9.036z">
                                        </path>
                                        <circle cx="12.762" cy="18.844" r="4.393"></circle>
                                        <polygon
                                            points="14.458,23.898 12.838,25.84 11.164,23.898 7.532,24.522 7.333,30.846 18.199,30.846 18,24.522 ">
                                        </polygon>
                                        <path
                                            d="M9.902,22.825c-1.323-0.833-2.208-2.304-2.208-3.98c0-0.328,0.035-0.648,0.099-0.959H6.52l-1.482,1.777l-1.532-1.777 l-3.322,0.623L0,24.245h6.848l0.044-0.279l3.057-0.623L9.902,22.825z">
                                        </path>
                                        <path
                                            d="M23.709,9.697c-4.209,0-7.621,2.303-7.621,5.141c0,1.739,1.285,3.273,3.245,4.206l-1.362,2.379 c0,0,4.367-0.672,7.387-1.568c3.021-0.895,5.974-2.559,5.974-5.016C31.331,12,27.918,9.697,23.709,9.697z">
                                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg> &nbsp; <span>Student</span></a>
                    <ul class="nav sub-group-menu border-0">
                        <li class="nav-item border-0">
                            <a href="/admin/student/view/enrolled/all" class="nav-link">
                                All Enrolled Students</a>
                        </li>
                        <li class="nav-item border-0">
                            <a href="/admin/student/view/static/all" class="nav-link">
                                Self Paced Students</a>
                        </li>
                        <li class="nav-item border-0">
                            <a href="/admin/student/view/requests/all" class="nav-link">
                                Admission requests</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item sidebar-nav-item border-0">
                    <a href="/#" class="nav-link"><svg width="30" version="1.1" id="_x32_"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 512 512" xml:space="preserve" fill="#fff" stroke="#fff">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <style type="text/css">
                                    .st0 {
                                        fill: #fff;
                                    }
                                </style>
                                <g>
                                    <path class="st0"
                                        d="M81.44,116.972c23.206,0,42.007-18.817,42.007-42.008c0-23.215-18.801-42.016-42.007-42.016 c-23.216,0-42.016,18.801-42.016,42.016C39.424,98.155,58.224,116.972,81.44,116.972z">
                                    </path>
                                    <path class="st0"
                                        d="M224.166,245.037c0-0.856-0.142-1.673-0.251-2.498l62.748-45.541c3.942-2.867,4.83-8.411,1.963-12.362 c-1.664-2.285-4.342-3.652-7.17-3.652c-1.877,0-3.667,0.589-5.191,1.689l-62.874,45.636c-2.341-1.068-4.909-1.704-7.65-1.704 h-34.178l-8.294-47.222c-4.555-23.811-14.112-42.51-34.468-42.51h-86.3C22.146,136.873,0,159.019,0,179.383v141.203 c0,10.178,8.246,18.432,18.424,18.432c5.011,0,0,0,12.864,0l7.005,120.424c0,10.83,8.788,19.61,19.618,19.61 c8.12,0,28.398,0,39.228,0c10.83,0,19.61-8.78,19.61-19.61l9.204-238.53h0.463l5.27,23.269c1.744,11.097,11.293,19.28,22.524,19.28 h51.534C215.92,263.461,224.166,255.215,224.166,245.037z M68.026,218.861v-67.123h24.126v67.123l-12.817,15.118L68.026,218.861z">
                                    </path>
                                    <polygon class="st0"
                                        points="190.326,47.47 190.326,200.869 214.452,200.869 214.452,71.595 487.874,71.595 487.874,302.131 214.452,302.131 214.452,273.113 190.326,273.113 190.326,326.256 512,326.256 512,47.47 ">
                                    </polygon>
                                    <path class="st0"
                                        d="M311.81,388.597c0-18.801-15.235-34.029-34.028-34.029c-18.801,0-34.036,15.228-34.036,34.029 c0,18.785,15.235,34.028,34.036,34.028C296.574,422.625,311.81,407.381,311.81,388.597z">
                                    </path>
                                    <path class="st0"
                                        d="M277.781,440.853c-24.259,0-44.866,15.919-52.782,38.199h105.565 C322.648,456.771,302.04,440.853,277.781,440.853z">
                                    </path>
                                    <path class="st0"
                                        d="M458.573,388.597c0-18.801-15.235-34.029-34.028-34.029c-18.801,0-34.036,15.228-34.036,34.029 c0,18.785,15.235,34.028,34.036,34.028C443.338,422.625,458.573,407.381,458.573,388.597z">
                                    </path>
                                    <path class="st0"
                                        d="M424.545,440.853c-24.259,0-44.866,15.919-52.783,38.199h105.565 C469.411,456.771,448.804,440.853,424.545,440.853z">
                                    </path>
                                </g>
                            </g>
                        </svg> &nbsp; <span>Class</span></a>
                    <ul class="nav sub-group-menu border-0">
                        <li class="nav-item border-0">
                            <a href="/admin/all-class" class="nav-link"><svg width="30" version="1.1" id="_x32_"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <style type="text/css">
                                            .st0 {
                                                fill: #fff;
                                            }
                                        </style>
                                        <g>
                                            <path class="st0"
                                                d="M81.44,116.972c23.206,0,42.007-18.817,42.007-42.008c0-23.215-18.801-42.016-42.007-42.016 c-23.216,0-42.016,18.801-42.016,42.016C39.424,98.155,58.224,116.972,81.44,116.972z">
                                            </path>
                                            <path class="st0"
                                                d="M224.166,245.037c0-0.856-0.142-1.673-0.251-2.498l62.748-45.541c3.942-2.867,4.83-8.411,1.963-12.362 c-1.664-2.285-4.342-3.652-7.17-3.652c-1.877,0-3.667,0.589-5.191,1.689l-62.874,45.636c-2.341-1.068-4.909-1.704-7.65-1.704 h-34.178l-8.294-47.222c-4.555-23.811-14.112-42.51-34.468-42.51h-86.3C22.146,136.873,0,159.019,0,179.383v141.203 c0,10.178,8.246,18.432,18.424,18.432c5.011,0,0,0,12.864,0l7.005,120.424c0,10.83,8.788,19.61,19.618,19.61 c8.12,0,28.398,0,39.228,0c10.83,0,19.61-8.78,19.61-19.61l9.204-238.53h0.463l5.27,23.269c1.744,11.097,11.293,19.28,22.524,19.28 h51.534C215.92,263.461,224.166,255.215,224.166,245.037z M68.026,218.861v-67.123h24.126v67.123l-12.817,15.118L68.026,218.861z">
                                            </path>
                                            <polygon class="st0"
                                                points="190.326,47.47 190.326,200.869 214.452,200.869 214.452,71.595 487.874,71.595 487.874,302.131 214.452,302.131 214.452,273.113 190.326,273.113 190.326,326.256 512,326.256 512,47.47 ">
                                            </polygon>
                                            <path class="st0"
                                                d="M311.81,388.597c0-18.801-15.235-34.029-34.028-34.029c-18.801,0-34.036,15.228-34.036,34.029 c0,18.785,15.235,34.028,34.036,34.028C296.574,422.625,311.81,407.381,311.81,388.597z">
                                            </path>
                                            <path class="st0"
                                                d="M277.781,440.853c-24.259,0-44.866,15.919-52.782,38.199h105.565 C322.648,456.771,302.04,440.853,277.781,440.853z">
                                            </path>
                                            <path class="st0"
                                                d="M458.573,388.597c0-18.801-15.235-34.029-34.028-34.029c-18.801,0-34.036,15.228-34.036,34.029 c0,18.785,15.235,34.028,34.036,34.028C443.338,422.625,458.573,407.381,458.573,388.597z">
                                            </path>
                                            <path class="st0"
                                                d="M424.545,440.853c-24.259,0-44.866,15.919-52.783,38.199h105.565 C469.411,456.771,448.804,440.853,424.545,440.853z">
                                            </path>
                                        </g>
                                    </g>
                                </svg> &nbsp; All
                                Classes</a>
                        </li>
                        <li class="nav-item border-0">
                            <a href="/admin/add-class" class="nav-link"><svg width="30" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16 12.75H12.75V16C12.75 16.41 12.41 16.75 12 16.75C11.59 16.75 11.25 16.41 11.25 16V12.75H8C7.59 12.75 7.25 12.41 7.25 12C7.25 11.59 7.59 11.25 8 11.25H11.25V8C11.25 7.59 11.59 7.25 12 7.25C12.41 7.25 12.75 7.59 12.75 8V11.25H16C16.41 11.25 16.75 11.59 16.75 12C16.75 12.41 16.41 12.75 16 12.75Z"
                                            fill="#ffff"></path>
                                    </g>
                                </svg> &nbsp; Add New
                                Class</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item border-0">
                    <a href="/admin/view/all-admins" class="nav-link"><svg width="30" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg" fill="#fff" stroke="#fff">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path
                                        d="M12 14v8H4a8 8 0 0 1 8-8zm0-1c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm9 4h1v5h-8v-5h1v-1a3 3 0 0 1 6 0v1zm-2 0v-1a1 1 0 0 0-2 0v1h2z">
                                    </path>
                                </g>
                            </g>
                        </svg><span> &nbsp;All
                            Admins</span></a>
                </li>



                <li class="nav-item border-0">
                    <a href="/admin/teacher/view/all" class="nav-link">
                        <svg fill="#fff" width="30" version="1.1" id="Layer_1" xmlns=""
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.002 512.002"
                            xml:space="preserve" stroke="#fff">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g>
                                    <g>
                                        <circle cx="392.353" cy="42.318" r="42.124"></circle>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M499.406,338.088c0-4.626-3.75-8.376-8.376-8.376h-3.545v-18.347c1.476-1.116,2.794-2.423,3.918-3.893 c2.634-3.446,4.206-7.746,4.183-12.421l-0.751-149.322c-0.131-26.391-21.709-47.859-48.098-47.859h-20.833 c-2.662,6.956-22.34,58.364-25.196,65.825l5.941-27.984c0.417-1.966,0.115-4.015-0.853-5.775l-8.158-14.837l7.252-13.19 c1.08-1.964-0.343-4.375-2.588-4.375h-19.905c-2.24,0-3.669,2.408-2.588,4.375l7.252,13.19l-8.188,14.893 c-0.95,1.727-1.259,3.733-0.875,5.667l5.194,28.037c-2.635-6.759-22.113-58.59-24.936-65.825h-20.637 c-26.39,0-47.966,21.469-48.099,47.859l-0.75,149.323c-0.057,11.226,8.998,20.371,20.223,20.427c0.034,0,0.07,0,0.105,0 c11.178,0,20.267-9.033,20.324-20.223l0.75-149.323c0-0.018,0-0.036,0-0.053c0.027-2.158,1.79-3.89,3.948-3.877 c2.158,0.013,3.9,1.767,3.9,3.926l0.01,341.681c0,13.47,10.92,24.391,24.391,24.391s24.391-10.92,24.391-24.391V292.654h10.531 v194.955c0,13.47,10.92,24.391,24.391,24.391s24.391-10.92,24.391-24.391v-41.545c-9.727-5.136-16.375-15.352-16.375-27.095 v-80.881c0-11.744,6.648-21.959,16.375-27.096c0-17.223-0.332-133.71-0.421-164.837c-0.007-2.306,1.828-4.195,4.133-4.255 c2.305-0.06,4.238,1.729,4.352,4.031c0,0.001,0,0.001,0,0.002l0.751,149.323c0.023,4.611,1.598,8.841,4.201,12.237 c1.315,1.715,2.883,3.224,4.67,4.445v17.773h-3.436c-4.626,0-8.376,3.75-8.376,8.376v80.881c0,4.626,3.75,8.376,8.376,8.376 h30.661c4.626,0,8.376-3.75,8.376-8.376v-80.881H499.406z">
                                        </path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="147.601" cy="42.141" r="42.141"></circle>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M228.266,326.652l-14.438-74.548l-33.6,21.448c-8.458,5.399-18.895,7.18-29.115,4.347l-28.103,8.151 c-1.903,0.552-3.868,0.832-5.839,0.832c-9.257,0-17.523-6.213-20.104-15.109l-11.701-40.339l-15.815,81.65 c7.688,5.569,12.702,14.612,12.702,24.81v2.214c3.401,0,7.183,0,11.275,0v147.493c0,13.475,10.924,24.4,24.4,24.4 c13.475,0,24.4-10.923,24.4-24.4V340.108c3.508,0,7.027,0,10.535,0v147.493c0,13.475,10.924,24.4,24.4,24.4s24.4-10.923,24.4-24.4 V340.108c5.883,0,11.137,0,15.516,0C224.267,340.108,229.619,333.638,228.266,326.652z">
                                        </path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M89.881,171.841c15.619-4.53,31.144-9.033,47.057-13.649c-1.828-4.688-4.328-11.098-23.582-60.478h-0.987 c-21.762,0-37.58,13.919-47.014,41.37c-14.619,42.544-47.82,133.38-48.153,134.292c-3.199,8.75,0.002,18.261,7.203,23.455 c0,17.067,0,14.407,0,32.686h-3.436c-4.626,0-8.376,3.75-8.376,8.377v80.881c0,4.626,3.75,8.376,8.376,8.376h30.659 c4.626,0,8.376-3.75,8.376-8.376v-80.881c0-4.627-3.75-8.377-8.376-8.377h-3.545c0-11.744,0-20.903,0-32.6 c3.238-2.301,5.844-5.565,7.311-9.577c0.204-0.557,12.634-34.566,25.658-70.777l-5.448-18.781 C72.388,186.695,78.793,175.057,89.881,171.841z">
                                        </path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M161.315,130.855l-8.158-14.837l7.252-13.19c1.08-1.964-0.343-4.375-2.588-4.375h-19.905c-2.24,0-3.669,2.409-2.588,4.375 l7.252,13.19l-8.188,14.893c-0.95,1.727-1.259,3.733-0.876,5.667l4.244,21.375c6.251-1.813,8.135-2.556,11.783-2.556 c2.904,0,5.709,0.613,8.273,1.727l4.35-20.492C162.587,134.666,162.283,132.616,161.315,130.855z">
                                        </path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M153.622,175.154c-0.633-2.184-2.949-3.573-5.268-2.898l-53.824,15.611c-2.252,0.653-3.552,3.017-2.899,5.267 l21.462,73.991c0.635,2.19,3.023,3.551,5.268,2.898l14.357-4.164c-0.855-1.056-1.67-2.158-2.417-3.331 c-10.744-16.83-5.809-39.185,11.021-49.928l19.544-12.475L153.622,175.154z">
                                        </path>
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path
                                            d="M248.639,192.318c-4.153-11.54-7.283-20.289-10.049-28.103c-3.074-8.688-5.694-16.219-8.756-25.129 c-9.434-27.452-25.252-41.37-47.014-41.37h-0.985c-4.458,11.646-18.727,48.924-22.939,59.927 c5.095,2.566,9.097,7.159,10.751,12.865l5.877,20.261l23.896-15.253l0.026-0.017c1.652,4.682,3.416,9.643,5.44,15.299 l-55.051,35.142c-9.466,6.043-12.24,18.614-6.199,28.078c6.042,9.466,18.614,12.243,28.08,6.199l68.732-43.873 C248.455,211.231,251.856,201.256,248.639,192.318z">
                                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span> &nbsp;All
                            Teachers</span></a>
                </li>


            </ul>
        </div>
    </div>

    <% } %>
        <!-- Sidebar Area End Here -->